{% include 'recipes/partials/head.html' %}

<body>

    {% include 'recipes/partials/header.html' %}

    <div class="search-container">
        <div class="container">
            <form action="" class="search-form">
                <input type="search" class="search-input" name="search">
                <button type="submit" class="search-button"> <i class="fas fa-search"></i> </button>
            </form>
        </div>
    </div>
    <!-- {% comment %} <h1> Recipes </h1>
    <h2> Teste de Home 1</h2>
    <h3> Olá {{ name }}</h3>
    <i class="fa fa-address-card" aria-hidden="true"></i> {% endcomment %} -->

</body>

</html>